$oxd-edit-table-font-weight: 400 !default;
$oxd-edit-table-font-size: 0.75rem !default;
$oxd-edit-table-font-family: $oxd-font-family !default;
$oxd-edit-table-font-color: $oxd-interface-gray-darken-1-color !default;
$oxd-edit-table-row-border: 1px solid $oxd-interface-gray-lighten-2-color !default;
$oxd-edit-table-header-border: 2px solid $oxd-interface-gray-lighten-3-color !default;
